extends: default

rules:
  document-start: false
  truthy:
    allowed-values: ['true', 'false', 'on']
  line-length: disable
  brackets:
    min-spaces-inside: 0
    max-spaces-inside: 1
  indentation:
    spaces: 2
  trailing-spaces: disable
